﻿@inherits LayoutComponentBase

@inject NavigationManager navigation
@inject UserState userState

@if (isAuthenticated)
{
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <CreateNew />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
}
else
{
    @Body
}

@code {
    private bool isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        userState.OnUserStateChanged += OnUserStateChanged;
        await ValidateAndRedirect();
    }

    private async Task OnUserStateChanged()
    {
        await ValidateAndRedirect();
    }

    private async Task ValidateAndRedirect()
    {
        isAuthenticated = await userState.IsAuthenticated();

        if (isAuthenticated)
        {
            navigation.NavigateTo("/");
        }
        else
        {
            navigation.NavigateTo("/login");
        }
    }
}