html, body {
    height: 100%;
}

.login-form,
.register-form {
    background-color: #fff;
    position: fixed;
    left: calc(50% - 280px);
    top: calc(50% - 285px);
    width: 560px;
    height: 570px;
    border-radius: 1px;
    border: 1px solid #e5e5e5;
}

.login-picture {
    height: 211px;
    padding-top: 20px;
    background-color: #b9d5f5;
    border-bottom: 1px solid #e5e5e5;
}

h2, h3 {
    text-align: center;
}

h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-top: 65px;
}

h3 {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-group {
    margin-left: 30px;
    margin-right: 30px;
}

.btn-group {
    float: right;
    clear: both;
    margin-top: 10px;
    margin-right: 30px;
}

.btn-group button {
    width: 100px;
}