﻿@inject IUsersService usersService
@inject IActivitiesService activitiesService

<Modal Title="New Objective" OnSave="OnSave" @ref="modal">
    <div class="form-group">
        <label>Title:</label>
        <input type="text" @bind="objectiveDto.Title" class="form-control" />
    </div>

    <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" @bind="objectiveDto.Description" rows="3"></textarea>
    </div>
</Modal>

@code{
    private Modal modal;
    private List<PersonDto> people = new List<PersonDto>();

    private ObjectiveDto objectiveDto = new ObjectiveDto();

    protected override async Task OnInitializedAsync()
    {
        people = await usersService.GetAll();
    }

    private async Task OnSave()
    {
        await activitiesService.CreateObjective(objectiveDto);
    }

    public void Open()
    {
        modal.Open();
    }
}